{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 align="center">Contactez-nous</h1>


{{form(formulaire)}}




    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}
